########################################################
# empflix VideoPortal
########################################################
site_start=http://www.empflix.com
site_startRE=<div id="categoriesList"
########################################################
# Videos
########################################################
item_infos=<a href="([^"]*.html)"[^>]+title="[^"]*">.+?<h2>([^<]+)</h2>.+?<span class="duringTime">([\d:]+).+?<img src="([^"]+)"
item_order=url|title|duration|icon
item_type=video
item_info_name=icon
item_info_build=http:%s
item_url_build=%s
########################################################
# Categories
########################################################
item_infos=<li><a href="(http://www.empflix.com/categories/[^"]*)">([^<]*)</a></li>
item_order=url|title
item_type=category
item_info_name=title
item_info_build=video.devil.locale|30100
item_info_name=icon
item_info_build=video.devil.image|face_devil_grin.png
item_url_build=%s
########################################################
# Next
########################################################
item_infos=<a class="navLink" onclick="[^"]+" href="([^"]+)">next
item_order=url
item_skill=bottom
item_type=next
item_info_name=title
item_info_build=video.devil.locale|30103
item_info_name=icon
item_info_build=video.devil.image|next.png
item_url_build=http://www.empflix.com/%s
########################################################
# Search
########################################################
link_title=video.devil.locale|30102
link_type=search
link_icon=video.devil.image|search.png
link_url=http://www.empflix.com/search.php?what=%s
########################################################