########################################################
# Hardsextube VideoPortal
########################################################
site_start=http://www.hardsextube.com/
site_startRE=<li id="categories_menu"
########################################################
# Videos
########################################################
item_infos=<li class="normal_li"\s+data-id="\d+"[^<]+<[^<]+<a\s+href='http://www.hardsextube.com/video/(\d+/[^']+)' title='([^']+)'>(?:[^=]+=){6}'([^']+) ?'(?:[^<]+<){4}var class="duration_text">([\d:]+)<(?:[^>]+>){17}\s+
item_order=url|title|icon|duration
item_type=video
item_url_build=http://www.m.hardsextube.com/video/%s
########################################################
# Categories
########################################################
item_infos=<a  href="(http://www.hardsextube.com/cat/[^"]+)".+?;">\s+([^<]+)\s<
item_order=url|title
item_type=category
item_info_name=title
item_info_build=video.devil.locale|30100
item_info_name=icon
item_info_build=video.devil.image|face_devil_grin.png
item_url_build=%s
########################################################
# Sorting
########################################################
item_infos=<option data-href="(http://www.hardsextube.com/[^"]+)".+?>([^<]+)</option>
item_order=url|title
item_type=sort
item_info_name=title
item_info_build=video.devil.locale|30109
item_info_name=icon
item_info_build=video.devil.image|face_kiss.png
item_url_build=%s
########################################################
# Next
########################################################
item_infos=href="([^"]+\d+)">Next<big>
item_order=url
item_skill=bottom
item_type=next
item_info_name=title
item_info_build=video.devil.locale|30103
item_info_name=icon
item_info_build=video.devil.image|next.png
item_url_build=%s
########################################################
# Search
########################################################
link_title=video.devil.locale|30102
link_type=search
link_icon=video.devil.image|search.png
link_url=http://www.hardsextube.com/?search=%s
########################################################