########################################################
# site VideoPortal
########################################################
#site_start=
#site_header=
#site_skill=                           #redirect|store
#site_sort=
#
#item_infos=                      #start flag for an item rule
#item_order=                      #order of matched item's infos
#item_skill=                      #recursive|space|bottom
#item_curr=                       #specifies current link in a directory(sorting-->most view(current)), use with dropdown menus from webpages
#item_info_name=                  #start flag to create/modify an item's info, =video.devil.context|30109 or =context.Some Title creates a context menu(item_info_build must contain %s)
#item_info_from=
#item_info=
#item_info_default=
#item_info_build=                 #end flag to build an item's info
#item_infos_actions=               #quote(info name), unquote(info name), replace(info name, string to replace, string to replace with), decode(info name), join(info name1, info name2, info name3, ...) #The new info name of the info created with join is the name of info name1#
#item_url_build=                  #end flag to build an item's rule, must contain %s which is replaced by regex group named url(specified by item_order)
#
#link_title=                           #start flag for CListItem()
#link_type=                            #video|category|sort|next|search|subcategory|tags, type is used in combination to determine All Site's ListItems
#link_icon=
#link_url=                             #end flag for CListItem()
########################################################
site_start=
site_header=
site_skill=
site_sort=
########################################################
# Videos
########################################################
item_infos=
item_order=
item_skill=
item_info_name=
item_info_from=
item_info=
item_info_default=
item_info_build=
item_url_build=
########################################################
# Pornstars
########################################################
item_infos=
item_order=
item_skill=
#item_curr=
item_info_name=
item_info_from=
item_info=
item_info_default=
item_info_build=
item_url_build=
########################################################
# Categories
########################################################
item_infos=
item_order=
item_skill=
item_info_name=
item_info_from=
item_info=
item_info_default=
item_info_build=
item_url_build=
########################################################
# Sorting
########################################################
item_infos=
item_order=url|title
item_type=
item_curr=
item_info_name=title
item_info_build=video.devil.locale|30109
item_info_name=icon
item_info_build=video.devil.image|face_kiss.png
item_info_name=context.Play Video2
item_info_build=http://www.youporn.com%s
item_info_name=video.devil.context|30109
item_info_build=http://www.youporn.com%s
item_url_build=
########################################################
# Pornstars by Letter
########################################################
item_infos=
item_order=
item_skill=
#item_curr=
item_info_name=
item_info_convert=
item_info_from=
item_info=
item_info_default=
item_info_convert=
item_info_build=
item_url_build=
########################################################
# Pornstars by Type
########################################################
item_infos=
item_order=
item_skill=
#item_curr=
item_info_name=
item_info_convert=
item_info_from=
item_info=
item_info_default=
item_info_convert=
item_info_build=
item_url_build=
########################################################
# Next
########################################################
item_infos=
item_order=
item_skill=
#item_curr=
item_info_name=
item_info_convert=
item_info_from=
item_info=
item_info_default=
item_info_convert=
item_info_build=
item_url_build=
########################################################
# Direct Links
########################################################
link_title=
link_type=
link_icon=
link_url=
########################################################
# Search
########################################################
link_title=
link_type=
link_icon=
link_url=
########################################################
# Search for Pornstars
########################################################
link_title=
link_type=
link_icon=
link_url=