########################################################
# Yuvutu VideoPortal
########################################################
start=http://www.yuvutu.com/modules.php?name=Video&proceed=yes&setgender=F
header=Cookie|gndr=F
startRE=<div class='moduleNav'>
########################################################
# Videos
########################################################
item_infos=<td align="center">(?:[^>]+>){11,20}<img id="thumb_[^"]+" class="vidpreview" src="([^"]+)"(?:[^>]+>){7}<a href="([^"]+)" >([^>]+)<(?:[^>]+>){12}\s+([\d:]+),(?:[^>]+>){25,40}\s+</td>\s+
item_order=icon|url|title|title.tmp
item_type=video
item_info_name=title.tmp
item_info_build= (%s)
item_info_name=catcher
item_info_build=yuvutu.com
item_infos_actions=join(, title, title.tmp)
item_url_build=http://www.yuvutu.com%s
########################################################
# Sorting
########################################################
item_infos=<a class="inactiveSubNav" href="modules\.php\?name=Video&amp;op=videos(&amp;list=[^"]+)">([^<]+)
item_order=url|title
item_type=sort
item_curr=<a class="activeSubNav" href="modules\.php\?name=Video&amp;op=videos&amp;list=[^"]+">([^<]+)
item_info_name=title
item_info_build=video.devil.locale|30109
item_info_name=icon
item_info_build=video.devil.image|face_kiss.png
item_url_build=http://www.yuvutu.com/modules.php?name=Video&proceed=yes&setgender=F%s
########################################################
# Next
########################################################
item_infos=<strong>Page:</strong>[\s]+[0-9]+[\s]+<a href="[^"]+page=([\d]+)[^"]+">[0-9]+
item_order=url
item_skill=bottom
item_type=next
item_info_name=title
item_info_build=video.devil.locale|30103
item_info_name=icon
item_info_build=video.devil.image|next.png
item_url_build=http://www.yuvutu.com/modules.php?name=Video&proceed=yes&setgender=F&list=most_recent&page=%s
########################################################